<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Code bar</title>
</head>
<body>
{% set current ="" %}

<div class="row">
    {% for liste in listes %}

        {% if liste.referencecarton == current %}
            <div class="col-md-2">
                <img src="{{ liste.codecarton~'png' }}"  alt="{{ liste.produit }}">
            </div>

        {% else %}
            <div class="col-md-12">
                <img src="{{ liste.codebidon~'png' }}"  alt="{{ liste.produit }}">
            </div>

        {% endif %}

    {% endfor %}

</div>

</body>
</html>