{% extends 'commandeshow/commandeshow.html.twig' %}

{% block content %}

    <h1>Modification de showroom</h1>
    <div class="col-md-10" style="background-color: #cccccc">
        {{ form_start(form) }}
        {{ include('commandeshow/_form.html.twig') }}
        <hr>
        <div class="row">
            <div class="col-md-2">
                <a class="btn btn-default" href="{{ path('commandeshow_show' , {'slug': commandeshow.slug}) }}">
                    <i class="fa fa-chevron-left"></i>
                    Retour
                </a>
            </div>
            <div class="col-md-2 offset-2">
                <input class="btn btn-primary" type="submit" value="Modifier" />
                {{ form_end(form) }}
            </div>
            <div class="col-md-2"></div>
            {#{% if is_granted('ROLE_ADMIN') and is_granted('ROLE_SUP') %}#}
            <div class="col-md-2 offset-2">
                {% include('commandeshow/deletemodal.html.twig') %}
            </div>
            {# {% endif %}#}
        </div>
        <br>
    </div>

{% endblock %}

