{% extends 'client/client.html.twig' %}

{% block content %}

    <div class="col-md-7" style="background-color: #cccccc">
        <h1> Ajout de nouvel client</h1>

        {{ include('_form.html.twig') }}

        <a href="{{ path('client_index') }}" class="btn btn-default">
            <i class="fa fa-chevron-left"></i>
            Retour à la Liste
        </a>
    </div>

{% endblock %}
